@import "./reset";
@import "./variables";
@import "./fonts";

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    transition: all .05s ease-in;
}
body {
    font-family: $main-font;
    color: $color-black;
    margin: 0 auto;
}