$main-font:             'Montserrat', sans-serif;

$color-white:             #FFFFFF;
$color-black:             #000000;
$color-brown-dark:        #35312D;
$color-arrow-inactive:    #202020;
$color-tomato:            #C62100;
$color-tomato-light:      #F16A50;
$color-brown-light:       #F8F1EA;
$color-dark-dot-inactive: #CAC2BA;

$desktop:                  1280px;
$laptop:                   1025px;
$tablet:                   768px;
$mobile:                   426px;
