.header__logo-image {
    width: 182px;
    height: 34px;
    margin-left: 100px;
    cursor: pointer;

    @media screen and (max-width:$tablet){
        margin-left: 15px;
        width: 116px;
        height: 31px;
    }
    
    @media screen and (max-width:$mobile){
        width: 100px;
        height: 19px;
        margin-left: 10px;
    }
}